@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
	font-family: 'League Spartan', sans-serif;
    background-color: #1B1B1E;
    margin: 20px;
    padding: 20px;
   overflow: hidden;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
    font-family: "Montserrat", sans-serif;
    line-height: 58px;
    font-size: 56px;
    color: #D8DBE2;
    margin: 0px;
    padding: 0px;
  }
  
  h2.verde {
    color: #58A4B0;
  }
  
  h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    color: white;
}
  
  li {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    color: white;
}

  button {
    height: 56px;
    border-radius: 16px;
    background-color: #58A4B0;
    border-width: 0px;
    color: #fefefe;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.16rem;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
  }
  
.section-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
  .ability-cards-container {
    display: grid;
    width: 100%;
    column-gap: 36px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    margin-top: 48px;
  }
  
  .ability-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 690px;
    border-width: 1px;
    border-color: #fff;
    border-radius: 12px;
    border-style: solid;
    padding-top: 16px;
  }
  
  .ability-card-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #58A4B0;
    margin-bottom: 12px;
  }
  
  .ability-card-icon-img {
    width: 40px;
    height: 40px;
  }
  
  .ability-card-subtitle {
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
    max-width: 70%;
  }
  
  .ability-list {
    width: 90%;
  }
